In [ ]:
"""
Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True




"""

In [7]:
def is_symmetrical(number):
    temp = str(number)
    if temp[::-1] == temp:
        return True
    else:
        return False
    
number = int(input("Enter a number: "))
is_symmetrical(number)

Enter a number: 1221

True

In [ ]:
"""
Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20


"""

In [19]:
def multiply_nums(nums):
    prod = 1
    for i in range(0, len(nums)):
        if nums[i] != ' ' and nums[i] != ',':
            prod *= int(nums[i])
    return int(prod)
    
nums = input("Enter the numbers with comma and space: ")
multiply_nums(nums)

Enter the numbers with comma and space: 1, 2, 3, 4

24

In [ ]:
"""
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.


"""

In [25]:
def square_digits(number):
    str_num = str(number)
    sq_sum = 0
    for i in range(0,len(str_num)):
        sq_sum += int(str_num[i])**2
    return sq_sum

number = int(input("Enter a number: "))
square_digits(number)

Enter a number: 0

0

In [ ]:
"""
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]


"""

In [12]:
def setify(ip_list):
    ip_list.sort()
    set_list = set(ip_list)
    op_list = (list(set_list))
    return op_list
    
    
ip_list = [1,2,3,3,5,5]
setify(ip_list)

[1, 2, 3, 5]

In [ ]:
"""
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.
"""

In [22]:
def mean(number):
    t_str = str(number)
    sum_n = 0
    for i in range(0,len(t_str)):
        sum_n += int(t_str[i])
    mean_num = sum_n/len(t_str)
    return int(mean_num)
number = int(input("Enter a number: "))
mean(number)

Enter a number: 2345

3